header{
    font-size: 0;
    background: #fff;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 90px;
    z-index: 99;
}

.logo{
    width: 70px;
    display: inline-block;
    margin-left: 40px;
}